    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><h1>ShotNote</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Ashish <span class="sr-only">(current)</span></a>
                
                <a class="nav-item nav-link" href="/notes">Notes</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/users/login">Login</a>
                <a class="nav-item nav-link" href="/users/register">Register</a>
                <a href="/notes/add" class="btn btn-dark btn-sm">+</a>
            </ul>
        </div>
    </nav>